#Description {
	width:65%; 
	float:left; 
	margin-left:1%;
	}

#DescriptionBox {
	border: 1px solid black;
	padding: 1px; 
	background-color: white;
	margin-bottom:3%
	
}

#Maxibox {
	width:100%	
	}
	
#DivDroite {
	background-color:#F2F2F2;
	width:33%;
	float:right;
	border:1px solid black;
	padding-bottom: 0.5%;
	}
	
#ImgBoxTopImg {
	float:top;
	float:right;
	width:100%;	
	}
	
#ContactBox {
}

#Multilinks {
}


.TopLine{
	margin-left:1%;
	margin-top:1%;
	margin-bottom:2%;
	width:99%;
	padding:0.5% 0% 0.5% 0%;
	background-color:lightBlue;
}

.TopPrix{
	float:right;
	display:inline;
	text-align:right;
}
.annoncessimilaires{
	padding:1%;
	border:1px solid black;
}
.annoncesimilaire{
	margin-right:15%;
	display: inline;
}
.imgAnnonceSimilaire{
	border:1px solid black;
}
.textannoncesimilaire{
	display:inline-block;
}
.AutreAnnonce{
	margin:75% 10% 10% 10%;
}





	
