* { padding: 0; margin: 0; }

body {
	background-image:url('../img/paquerettes3-2.jpg');
	background-attachment:scroll;
	background-size:110% 110%;
	background-repeat:no-repeat;
	background-position:relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

a {
	color: white;
}

a:focus {
	outline: none;
}
.clear {
	clear: both;
}

#wrapper { 
 padding: 0;
 margin: 0 auto;
 width: 1000px;
 background-color:rgba(223,223,223,0.5);
}

#header { 
 width: 980px;
 clear: both;
 color: white;
 background-color: rgba(26,109,152,1);
 margin: 0px 0px 10px 0px;
 padding: 10px;
 position:fixed;
 text-align:right;
 z-index: 999;
}

#header2 {
 color: #333;
 width: 980px;
 float: left;
 padding: 10px;
 height: 100px;
 margin: 30px 0px 5px;
}

#header2 img{
 height: 100px;
}

#message {
 color: rgba(26,109,152,1);
 font: 50px "Brush Script Std";
 width: 600px;
 float: right;
 padding: 30px 0 0;
 height: 100px;
 margin-right: 100px;
}

#navigation {
 float: left;
 width: 900px;
 color: #333;
 padding: 10px;
 margin: 0px 0px 5px 0px;
}
#leftcolumn { 
 color: #333;
 margin: 0px 5px 5px 0px;
 padding: 10px;
 height: 500px;
 width: 250px;
 float: left;
}
#rightcolumn { 
 float: right;
 color: #333;
 margin: 0px 0px 5px 0px;
 padding: 10px;
 height: 500px;
 width: 678px;
 display: inline;
}
#footer { 
 width: 980px;
 clear: both;
 color: #333;
 background-color: rgba(26,109,152,1);
 margin: 0px 0px 10px 0px;
 padding: 10px;
}

#page-wrap {
	position: relative;
	width: 650px;
	height: 29px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
}
ul#main-nav {
	margin-left: 20px;
}
ul#main-nav li {
	float: left;
	position: relative;
	margin-left: -20px;
	display: inline;
}
ul#main-nav li a {
	position: relative;
	width: 110px;
	height: 29px;
	display: block;
	background-image: url('../img/tabs.png');
	background-position: center center;
	color: #44403b;
	text-decoration: none;
	font-size: 14px;
	padding-top: 12px;
	text-align: left;
	padding-left: 30px;
	font-weight: bold;
}
ul#main-nav li.home a {
	background-image: url('../img/tab-home.png');
}
ul#main-nav li.current a {
	background-position: top;
	color: #ffffff;
}
ul#main-nav li a:hover {
	background-position: bottom;
	color: #ffffff;
}
ul#main-nav li.current a:hover {
	background-position: top; /*To Prevent the Current tab from changing colour on hover*/
	color: #ffffff;
}
ul#main-nav li.current {
	z-index: 100;
}
ul#main-nav li.accueil {
	z-index: 100;
}
ul#main-nav li.annonces {
	z-index: 99;
}
ul#main-nav li.utilisateurs {
	z-index: 98;
}
ul#main-nav li.rubriques {
	z-index: 97;
}
ul#main-nav li.forum {
	z-index: 96;
}

#featured {
	position: relative;
    background-color: rgba(26,109,152,1);
	background-repeat: repeat-y;
	background-position: left;
	height: 450px;
	color: #ffffff;
}
#triage {
	font-size: 12px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-top: 20px;
}
#tabannonce{
	margin-left: 10px;
	margin-right: 10px;
	background-color: white;
	height: 315px;
	color: black;
}

#pages {
	font-size: 12px;
	padding-top: 5px;
	text-align: center;
}
#featured-content{
	position: relative;
	width: 322px;
	margin-top: 30px;
	margin-right: 35px;
	display: inline;
	padding-top: 30px;
}

#wrapper2 {  
    width: 190px;
    margin: 10px auto;
    font-size: 0.8125em;
}

a {
    text-decoration: none;
}
ul, 
ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    width: auto;
    height: auto;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
}

.menu > li > a {
    background-color: #616975;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
    background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
    border-bottom: 1px solid #33373d;
    -webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
    -moz-box-shadow: inset 0px 1px 0px 0px #878e98;
    box-shadow: inset 0px 1px 0px 0px #878e98;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}

.menu ul li a {
    background: #fff;
    border-bottom: 1px solid #efeff0;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.923em;
    font-weight: 400;
    color: #878d95;
}
.menu ul li:last-child a {
    border-bottom: 1px solid #33373d;
}

.menu > li > a:before {
    content: '';
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    font-size: 36px;
    height: 1em;
    width: 1em;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -.5em 0 0 0;
}
.item1 > a:before {
    background-position: 0 0;
}
.item2 > a:before {
    background-position: -38px 0;
}
.item3 > a:before {
    background-position: 0 -38px;
}
.item4 > a:before {
    background-position: -38px -38px;
}
.item5 > a:before {
    background-position: -76px 0;
}

.menu > li > a span {
    font-size: 0.857em; 
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 50%; 
    background: #48515c;
    line-height: 1em;
    height: 1em;
    padding: .4em .6em;
    margin: -.8em 0 0 0; 
    color: #fff;
    text-indent: 0;
    text-align: center;
    -webkit-border-radius: .769em;
    -moz-border-radius: .769em;
    border-radius: .769em;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
    font-weight: 500;
}
.menu > li > a:hover span, .menu > li a.active span {
    background: #2173a1;
}

.menu ul > li > a span {
    font-size: 0.857em; 
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 50%; /
    background: #fff;
    border: 1px solid #d0d0d3;
    line-height: 1em;
    height: 1em;
    padding: .4em .7em;
    margin: -.9em 0 0 0; 
    color: #878d95;
    text-indent: 0;
    text-align: center;
    -webkit-border-radius: .769em;
    -moz-border-radius: 769em;
    border-radius: 769em;
    text-shadow: 0px 0px 0px rgba(255,255,255,.01));
}
.menu > li > ul li a:before {
    font-size: 8px;
    color: #bcbcbf;
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0;
    left: -2.7em;
}
 
.menu > li > ul li:hover a,
.menu > li > ul li:hover a span,
.menu > li > ul li:hover a:before {
    color: #32373D;
}


input[type=submit]::-moz-focus-inner {
    border: 0;
    padding: 0;
}

::-webkit-input-placeholder {
    color: #888;
}

input:-moz-placeholder {
    color: #888;
}

.search-form {
    position: relative;
    display: inline-block;
    zoom: 1; /* ie7 hack for display:inline-block */
    *display: inline;
	float: right;
}

.search-form.frame {
    padding: 7px;
    border: 1px solid #ccc;
    background-color: #ededed;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#d2d1d0)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #f6f6f6, #d2d1d0); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #f6f6f6, #d2d1d0); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #f6f6f6, #d2d1d0); /* IE10 */
    background-image:      -o-linear-gradient(top, #f6f6f6, #d2d1d0); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #f6f6f6, #d2d1d0);
    -moz-box-shadow:    0 1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.7);
    box-shadow:         0 1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.7);
    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

.search-input {
    width: 196px;
    height: 20px;
    padding: 6px 10px 6px 35px;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    outline: none;
    position: relative;
    background-color: #fff;
    background-position: 10px center;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Nzc1OEI1RTVFQTg0MTFFMDkxMzA4ODVBRDY1OTFGM0UiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Nzc1OEI1RTZFQTg0MTFFMDkxMzA4ODVBRDY1OTFGM0UiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3NzU4QjVFM0VBODQxMUUwOTEzMDg4NUFENjU5MUYzRSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3NzU4QjVFNEVBODQxMUUwOTEzMDg4NUFENjU5MUYzRSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PrgRaKkAAAFKSURBVHjalJM/KIVRGMY/+uouLFIoJe5yBwajPxMSCotBNqWvSLLaKYsM4iqb0s1EtyhWkTJcbEaFDAZkIXX9Tj1Hb1/nKk/9Ou8533mf7z3/qpIkiYxaYRL6zFgJ9uAmCig2cResqbUagFFYgsO0QbXaQbgIJHvl4AAWQxXUQzE1vg230AiJWqd1OIcra+BKy6j/ompKxmwDTqFT/VXot0uYMJOTVLI3HYMv9d0GN1kDX96j1hnSg0r36rAGZcXf0d/6NHHGGrwrbjHrTMsl9Cgua4N/DU7MxF2oCRjsQ63iM7i3BstmYjtcwzz0wjRcwriZ0wYj9hjvYA62NJbV0VVSMxzBrLsv/irn4VUXpSGQ9KzvOTPmcursWyjAMUxBtzb1SRu2qc1234dMzkqc+tObnPMVyh+GHZhR/yOO/q8FHaV7+oUfAQYAuc4/puJw8KwAAAAASUVORK5CYII=);
    border: 1px solid #ccc;
    -moz-box-shadow:    inset 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow:         inset 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

.search-btn {
    margin-left: 3px;
    width: 32px;
    height: 33px;
    color: #fff;
    font: bold 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    border: 1px solid #b9b9b9;    
    outline: none;
    cursor: pointer;
    position: relative;
    background-color: #666;
    -moz-box-shadow:    inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow:         inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

.frame.rbtn .search-btn {
    -moz-border-radius:    32px;
    -webkit-border-radius: 32px;
    border-radius:         32px;
}

.frame.inbtn .search-input {
    padding-right: 45px;
    width: 225px;
}

.frame.nobtn .search-input {
    width: 235px;
    padding-left: 35px;   
}

.frame.inbtn .search-btn {
    position: absolute;
    top: 7px;
    right: 8px;
}

.search-form.frame.rlarge, .rlarge .search-input {
    -moz-border-radius:    28px;
    -webkit-border-radius: 28px;
    border-radius:         28px;
}

.frame.inbtn.rlarge .search-btn, .noframe.inbtn.rlarge .search-btn {
    -moz-border-radius:    0 28px 28px 0;
    -webkit-border-radius: 0 28px 28px 0;
    border-radius:         0 28px 28px 0;
}

.search-form.frame .search-btn {    
    background-color: #1d83e2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#86bdf0), to(#1560a6)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #86bdf0, #1560a6); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #86bdf0, #1560a6); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #86bdf0, #1560a6); /* IE10 */
    background-image:      -o-linear-gradient(top, #86bdf0, #1560a6); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #86bdf0, #1560a6);
}




ul#nav li {
	float: left;
	position: relative;
	margin-left: 80px;
	display: inline;
}
ul#nav li a {
	position: relative;
	width: 110px;
	height: 29px;
	display: block;
	background-position: center center;
	color: #44403b;
	text-decoration: none;
	font-size: 14px;
	padding-top: 12px;
	text-align: left;
	padding-left: 30px;
	font-weight: bold;

#nav {
	list-style-type:none;
	margin-left:5%;
	padding:0;
	overflow:hidden;
	display:inline;
}

}
ul#nav li.bloquer {
	z-index: 100%;
}

ul#nav li.modifier {
	z-index: 90%;
}

ul#nav li.Supprimer {
	z-index: 80%;
}

ul#nav li.retour {
	z-index: 70%;
}

#navlist{
	list-style-position:inside;
	margin:0,
	padding:0;
	overflow:hidden;
}

#nav .nav-item {
    float: right;
    background-color: #EDEDED;
	width: 15.5%;
	left: 280px;
	right:0px;
	height: 25px;
	color: black;
	padding: 10px;
}