#Maxibox {
	background-color:yellow;
	
	
	}
	
.TopLine{
	margin-left:-1%;
	margin-top:-1%;
	margin-bottom:2%;
	width:98%;
	padding:0.5% 2% 0.5% 2%;
	background-color:lightGrey;
}
.TopPrix{
	float:right;
	display:inline;
	text-align:right;
	
.annoncessimilaires{
	padding:1%;
	border:1px solid black;
}
.annoncesimilaire{
	margin-right:15%;
	display: inline;
}
.imgAnnonceSimilaire{
	border:1px solid black;
}
.textannoncesimilaire{
	display:inline-block;
}
.AutreAnnonce{
	margin:38% 10% 10% 10%;
}
