body{
	background-image:url('/img/paquerettes3-2.jpg');
	background-attachment:scroll;
	background-size:110% 110%;
	background-repeat:no-repeat;
	background-position:center center;
	font-family:Arial, Helvetica, sans-serif;
}

.content{
	margin-bottom:0px;
	background-color:rgba(223,223,223,0.5);
	padding:1em;
	position: relative;
	float:left;
	width: 1050px;
	height: auto;
	min-height:700px;
	top: 10px;
	left: 100px;
}

.user{
	padding-right:10px;
	background-color:#0881A5;
	position:fixed;
	width: 1074px;
	top: 0px;
	left: 107px;
	right:50px;
	height: 30px;
	color: #EDEDED;
	text-align:right;
	margin-bottom: 20px;
	padding-top: 10px;
	z-index: 999;
}

.accueil{
	position: relative;
	float: right;
	bottom: 200px;
	font-style:normal;
	font-weight: bold;
}

.logo{
	padding: 1em;
	width:180px;
	height:114px;
	position: relative;
	left: 70px;
	top: 7px;
}

.box2{
	position:relative;
	border: solid 2px  #0881A5;
	background-color:#FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 10px black;
	-moz-box-shadow: 5px 5px 10px black;
	left: 300px;
	bottom: 10px;
	float:left;
	width: 200px;
	height: 200px;
}

.box3{
	position:relative;
	border: solid 2px  #0881A5;
	background-color:#FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 10px black;
	-moz-box-shadow: 5px 5px 10px black;
	left: 400px;
	bottom: 10px;
	float:left;
	width: 200px;
	height: 200px;
}

.box4{
	position:relative;
	border: solid 2px  #0881A5;
	background-color:#FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 10px black;
	-moz-box-shadow: 5px 5px 10px black;
	top: 230px;
	float:left;
	width: 200px;
	height: 200px;
	left: 195px;
}

.box5{
	position:relative;
	border: solid 2px  #0881A5;
	background-color:#FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 10px black;
	-moz-box-shadow: 5px 5px 10px black;
	float:left;
	width: 200px;
	height: 200px;
	right: 312px;
	top: 230px;
}

.sub_box1{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-right:auto;
	margin:30px;
	padding:10px;
	border:solid #CBCBCB 1px;
	padding-bottom: 10px;
	position: relative;	
}

.sub_box2{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-right:auto;
	margin:30px;
	padding:10px;
	border:solid #CBCBCB 1px;
	padding-bottom: 20px;
	position: relative;
	bottom: 20px;
}

.band{
	position: absolute;
	bottom: 0px;
	background-color: #0881A5;
	width: 98.4%;
	left: 0px;
	height: 25px;
	color: #EDEDED;
	padding: 10px;
}
