body
{
	background-image:url("paquerettes3-2.jpg.");7
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	background-size:110% 110%;

			
}

.centered

{

	
	
	background-color:rgba(223,223,223,0.5);
	background-position:center center;
	padding:1em;
	position: relative;
	float:left;
	width: 1090px;
	height: 114;
	min-height:700px;
	left: 100px;
	
.table
{		

}




.titre
{	padding: 0px 0px 0px 500px;
	float:center;
	bottom:200px;
	font-style:arial;
	
}

.logo
{
	padding: 1em;
	width:180px;
	height:114;
	position: relative;
	left: 0px;
	top: 7px;
}


img

{
	width: 100px;
}
	

